.appBg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(../img/loginbackground.jpg);
    background-size: cover;

    #register-tite {
        font-family: "Maven Pro", sans-serif;
    }

    .loginForm {
        border-radius: 15px;
        margin-top: 40px;
        padding: 10px 30px 20px 30px;
        background-color: rgba(255, 255, 255, 0.33);
        box-shadow: 0 2px 6px 0 rgb(0, 0, 0);
        backdrop-filter: blur(4px);

        .title {
            color: black;
            font-size: 1.5rem;
            text-align: center;
        }
        .input {
            width: 400px;
        }
    }
}
